.App {
  display: relative;
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 450ms ease-in;
}

.ui.card::after, .ui.cards::after {
  content: none!important;
}

.animation-appear {
  opacity: 0.01;
}

.animation-appear.animation-appear-active {
  opacity: 1;
  transition: opacity .75s ease-in;
}

@media screen and (max-width: 768px) {
  .dont-display {
    display: none!important;
  }
}
